/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов: */

.theme-dark {
  --font-wight-h: 785;
  --font-wight-p: 465;
  --Themes-background: #000;
  --Themes-mainColor: #00cc14;
  --accent-color: #00cc14;
  --background-color-button: var(--Themes-mainColor);
  --background-image: repeating-linear-gradient(
      to left,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-wight-h: 785;
    --font-wight-p: 465;
    --Themes-background: #000;
    --accent-color: #00cc14;
    --Themes-mainColor: #00cc14;
    --background-color-button: var(--Themes-mainColor);
    --background-image: repeating-linear-gradient(
        to left,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);
  }
}

.theme-light {
  --font-wight-h: 700;
  --font-wight-p: 400;
  --Themes-background: #fff;
  --Themes-mainColor: #000;
  --accent-color: #000;
  --background-color-button: var(--Themes-background);
  --background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

/* 
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений */
